.table-wrapper {
    height: 300px; /* Adjust the height as needed */
    overflow-y: auto;
    overflow-x: auto;
    border: 1px solid black;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid black;
    padding: 5px;
}

.custom-header {
    background-color: #33860c; /* Bootstrap primary color */
    color: #fff; /* Text color */
    padding: 10px 20px; /* Padding */
    display: flex; /* Flex layout */
    justify-content: space-between; /* Space between items */
    align-items: center; /* Center items vertically */
}
.custom-header img {
    max-height: 60px; /* Limit logo height */
}