* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Century Gothic', Arial, sans-serif;
}

body, html {
    overflow-x: hidden; /* Prevent horizontal scroll */
}

body {
    height: 100%;
    background-color: #F5F5F5;
}

/* Custom styles */
.header {
    background-color: #008000; /* Dark green background color */
    color: white; /* Text color */
    padding: 5px 10px; /* Padding around content */
}
.header-logo {
    height: 60px; /* Adjust logo height */
}

#appName {
    font-weight: 600;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.container-fluid {
    height: 100%;
}

.nav-link {
    color: white; /* Link text color */
    font-size: 15px;
    line-height: 0.5rem;
}

.nav .nav-link {
    position: relative;
    display: inline-block;
    text-decoration: none;
}

.nav .nav-link::before {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 50%;
    background-color: #F7C35F;
    transition: width 0.4s ease, left 0.4s ease;
}

.nav .nav-link:hover::before {
    width: 100%;
    left: 0;
}

.logout {
    margin-top: 30vh;
    padding-left: 5px;
}

.form-select {
    padding: 3px;
    background-color: #B1BA4D;
    border-radius: 5px;
    text-align: center;
    color: #fff;
}

.btn-custom {
    width: 100%;
    padding: 10px;
    background-color: #008000;
    border-radius: 3px;
    color: white;
    font-weight: 600;
}

.btn-green {
    background-color: #B1BA4D;
    color: white;
    font-weight: 600;
}

.table-custom tbody tr:nth-child(odd) {
    background-color: #D6DEE9;
  }
  
.table-custom tbody tr:nth-child(even) {
    background-color: #A7BEE0;
 }

 .tablesorter-bootstrap th {
    background-color: #2774E9 !important;
    color: white !important;
  }
  
/* Styles for footer */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #008000; /* Light background color */
    padding: 10px 0;
    text-align: center;
    z-index: 1000; /* Ensure footer appears above other content */
}

#pageTitle {
    background-color: #6FC700;
    font-weight: bolder;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

/* Add spacing between sections */
section {
    margin-bottom: 40px; /* Adjust spacing as needed */
}

img {
    cursor: pointer;
}

h2 {
    font-weight: bolder;
}

.form-control {
    padding-left: 20px;
    background-color: #B1BA4D;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    font-weight: 600;
}
/* Customize the background color of the selected items */
.custom-select {
    padding-left: 20px;
    background-color: #B1BA4D;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    font-weight: 600;
}
